/*
	Project Specific CSS
*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}

.main-title {
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 5vh;
  color: #e57373;
  font-weight: 700;
  font-size: 12vh;
  font-family: "Lovers Quarrel", cursive;
}

.main-title i {
  font-size: 2vh;
}

.side-title {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
  color: #e57373;
  font-weight: 700;
  font-size: 6vh;
  font-family: "Lovers Quarrel", cursive;
}

.side-title i {
  font-size: 1vh;
}

.text-input {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  width: 50vw;
  height: 5vh;
  font-size: 3vh;
  padding: 0 10px 0 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.side-text-input {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  width: 25vw;
  height: 5vh;
  font-size: 3vh;
  padding: 0 10px 0 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.btn {
  margin-top: 2vh;
  width: 10vw;
  border: #e57373;
  background-color: #e57373;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  height: 5vh;
  font-size: 2vh;
  margin-left: 2vw;
  margin-left: 2vw;
}

.btn:hover {
  background-color: #c62828;
}

.input-form {
  text-align: center;
}
